**/node_modules/**
**/.DS_Store
**/test.js
**/.package/**


# ide dependent folders
.vscode
.idea

__pychache__
.pytest_cache



# Distribution / packaging
.Python
env/
.env
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
.env
var/
*.egg-info/
.installed.cfg
*.egg
node_modules/
.idea/
.dynamodb/
.s3-local/
__pycache__/
.history/


# Serverless directories
.serverless-wsgi
.serverless
serverless_wsgi.py
wsgi_handler.py
**/experimental*/**
serverless.wsgi
**/.serverless/**
